#nav {
  background-color: #103e5b;
}

#page-footer {
  background-color: #9f3f36;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.pointer {
  cursor: pointer;
}

.badge {
  border-radius: 50px;
  margin: 3px;
}

p {
  font-size: large;
}

.breadcrumb:before {
  color: #1976d2;
}
