body {
  font-family: 'Roboto', sans-serif;
  color: #103e5b;
}

.add-roboto-slab {
  font-family: 'Roboto Slab', serif;
  color: #103e5b;
}

.add-roboto {
  font-family: 'Roboto', sans-serif !important;
  color: #103e5b !important;
}

.add-roboto-only {
  font-family: 'Roboto', sans-serif;
}

.roboto-slab-boldify {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  color: #103e5b;
}

.med-boldify {
  font-weight: 500 !important;
}

.boldify {
  font-weight: 700 !important;
}

#nav {
  background-color: #103e5b;
}

.home-title-header {
  color: #103e5b;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  white-space: nowrap !important;
  margin-top: 10px !important;
}

.active {
  box-shadow: inset 0px -4px orange;
}

a.breadcrumb.active.blue-text.text-darken-2 {
  box-shadow: none;
}

.home-image-max-height {
  max-height: 400px;
}

#page-footer {
  background-color: #9f3f36;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.hoverable-card:hover {
  background: #ffa726 !important;
} 

p.med-boldify:hover, .hoverable-link:hover {
  text-decoration: underline;
}

.pointer {
  cursor: pointer;
}

.badge {
  border-radius: 50px;
  margin: 3px;
}

.custom-large-font {
  font-size: large;
}

#bottom {
  position: absolute;
  bottom:0;
}

.card {
  border-radius: 1em !important;
}

.project-image {
  max-height: 250px;
}

.project-image-background {
  width: 100%;
  background-color: #ffffff;
}

.breadcrumb:before {
  color: #1976d2;
}

.project-page-img {
  border-radius: 1em;
}

.customize-project-button {
  padding: 10px !important;
}

.customize-project-badge {
  margin-left: 0px !important;
  margin-right: 6px !important;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #103e5b !important;
  -webkit-box-shadow: 0 1px 0 0 #103e5b !important;
          box-shadow: 0 1px 0 0 #103e5b !important;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #103e5b !important;
}

@media (min-width: 993px) {
  .card-home {
    height: 535px;
  }
}

@media (min-width: 1129px) {
  .card-home {
    height: 515px;
  }
}

@media (min-width: 601px) {
  .card-portfolio {
    height: 525px;
  }
}

@media (min-width: 675px) {
  .card-portfolio {
    height: 550px;
  }
}

@media (min-width: 748px) {
  .card-portfolio {
    height: 500px;
  }
}

@media (min-width: 891px) {
  .card-portfolio {
    height: 475px;
  }
}

@media (min-width: 993px) {
  .card-portfolio {
    height: 625px;
  }
}

@media (min-width: 1129px) {
  .card-portfolio {
    height: 575px;
  }
}

@media (min-width: 1281px) {
  .card-portfolio {
    height: 550px;
  }
}

@media (min-width: 1354px) {
  .card-portfolio {
    height: 525px;
  }
}