#nav {
  background-color: #103e5b;
}

.active {
  box-shadow: inset 0px -4px orange;
}

#page-footer {
  background-color: #9f3f36;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.pointer {
  cursor: pointer;
}

.badge {
  border-radius: 50px;
  margin: 3px;
}

p {
  font-size: large;
}

.boldify {
  font-weight: 600;
}

#bottom {
  position: absolute;
  bottom:0;
}

#portfolio-card__heading {
 font-weight: bold;
 text-shadow: 2px 2px 2px #ffffff, -2px -2px 2px #ffffff, -2px 2px 2px #ffffff, 2px -2px 2px #ffffff;
}

#portfolio-card__description {
  font-size: medium;
}

.breadcrumb:before {
  color: #1976d2;
}

@media (min-width: 993px) {
  .card-home {
    height: 500px;
  }
}

@media (min-width: 1010px) {
  .card-home {
    height: 425px;
  }
} 

@media (min-width: 1129px) {
  .card-home {
    height: 375px;
  }
}

@media (min-width: 1142px) {
  .card-home {
    height: 375px;
  }
}

@media (min-width: 1300px) {
  .card-home {
    height: 325px;
  }
}
